.uni { font-family: 'universcond' }

.monlt { font-family: 'montserratlt' }

.monreg { font-family: 'montserratreg' }

body {
  font-size: 13px;
  font-family: 'montserratreg';
}

body, p {
  color: #393c3f;
}

footer {
  font-size: 12px;
}

.scrollBox {
  width: 400px;
  height: 400px;
  overflow: scroll;
}