.uni { font-family: 'universcond' }

.monlt { font-family: 'montserratlt' }

.monreg { font-family: 'montserratreg' }

body {
  font-size: 13px;
  font-family: 'montserratreg';
}

body, p {
  color: #393c3f;
}

footer {
  font-size: 12px;
}

.scrollBox {
  width: 400px;
  height: 400px;
  overflow: scroll;
  border: 1px solid black;
}

.recipes {
  border: 1px solid black;
  height: 161px;
  overflow: scroll;
  padding: 0px;
  background-color: white;
}

.recipeHeader {
  font-family: 'Indie Flower', cursive;
  padding: 5px;
  background-color: rgb(98, 110, 123);
  border-bottom: 1px solid rgb(141, 141, 141);
  margin: 0px;
  color: white;
  cursor: pointer;
}

.recipeHolder {
  margin-top: 5px;
  margin-bottom: 5px;
}

.recipeSource {
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.recipeRating {
  display: inline-block;
}

#search-submit {
  z-index: 0;
}

.fav {
  color: #F0F0F0;
  text-shadow: 0 0 1px #666666;
  font-size: 30px;
  cursor: pointer;
}

.selected {
  color: #F4B30A;
  text-shadow: 0 0 1px #F48F0A;
  font-size: 30px;
}

.favHolder {
  margin-top: 20px;
}
